## Fromat ENTSOE time series

Values are sometimes missing in the time series. This notebook create complete yeraly time series.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [30]:
df = pd.read_csv('input_time_series/France/Wind_onshore_energy_France_2021_intermittent.csv')
df.rename(columns={'Time,"FR/wind_onshore"': 'Wind'}, inplace=True)

In [31]:
df

                        Wind
2020-12-31 20:00:00  1.08 GW
2021-01-01 02:00:00  1.19 GW
2021-01-01 08:00:00  1.18 GW
2021-01-01 14:00:00  1.39 GW
2021-01-01 20:00:00  1.53 GW
...                      ...
2021-12-30 20:00:00  5.21 GW
2021-12-31 02:00:00  5.52 GW
2021-12-31 08:00:00  4.29 GW
2021-12-31 14:00:00  3.32 GW
2021-12-31 20:00:00  3.43 GW

[1461 rows x 1 columns]

In [32]:
def convertir_en_MW(valeur):
    if 'GW' in valeur:
        return float(valeur.replace('GW', '')) * 1e3  # Convertir de GW à MW
    elif 'MW' in valeur:
        return float(valeur.replace('MW', ''))   # Pas de conversion nécessaire
    elif 'kW' in valeur:
        return float(valeur.replace('kW', '')) /1e3 # Convertir de kW à MW

# Appliquer la fonction de conversion à la colonne 'FR/solar'
df['Wind'] = df['Wind'].apply(convertir_en_MW)

In [33]:
df.to_excel('input_time_series/France/Wind_onshore_energy_France_2021_intermittent.xlsx', index = False)

In [50]:
ts = pd.read_excel('input_time_series/FR_monthly_hourly_load_values_2021.xlsx')
country_key ='FR'
ts = ts.set_index('DateUTC')

ts.index = pd.to_datetime(ts.index)
date_range = pd.date_range(start=pd.to_datetime("2021/01/01"), end=pd.to_datetime("2021/12/31 23:00:00"), freq="h")
missing_dates = date_range[~date_range.isin(ts.index)]
print(missing_dates)

df_dropped = ts.reset_index().drop_duplicates(subset='DateUTC', keep='last').set_index('DateUTC')

data_reindexed = df_dropped.reindex(date_range)
data_interpolated = data_reindexed.interpolate(method="linear")

DatetimeIndex(['2021-01-03 22:00:00', '2021-02-24 08:00:00',
               '2021-03-28 02:00:00', '2021-05-12 08:00:00',
               '2021-05-19 04:00:00', '2021-06-03 16:00:00',
               '2021-10-31 00:00:00', '2021-10-31 01:00:00',
               '2021-11-17 10:00:00', '2021-11-18 10:00:00'],
              dtype='datetime64[ns]', freq=None)

C:\Users\JD278300\AppData\Local\Temp\ipykernel_21440\3348577262.py:13: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data_interpolated = data_reindexed.interpolate(method="linear")

In [52]:
data_interpolated['Value'].to_excel('input_time_series/France/France_load_entsoe_2021.xlsx', index=False)

In [37]:
pd.read_excel('input_time_series/Greece/Greece_load_entsoe_2021.xlsx')

        Value
0     4135.98
1     3829.58
2     3652.09
3     3663.73
4     3771.85
...       ...
8755  6514.00
8756  5720.00
8757  5349.00
8758  4893.00
8759  4568.00

[8760 rows x 1 columns]